###########################
# 環境変数群
###########################

#--------------------------
## Docker Hub
#--------------------------

### Docker Hubのユーザー名
DOCKER_HUB_USER_NAME=

### Docker Hubのリポジトリ名
DOCKER_HUB_REP=

### コンテナイメージのプラットフォーム
CONTAINER_IMAGE_PLATFORM=

#--------------------------
## 共通環境変数
#--------------------------

### コンテナ名にサフィックスをつけてユニークにする
CONTAINER_NAME_SUFFIX=sample

### コンテナIP 明示的に指定。
CONTAINER_IP=127.0.0.1

#--------------------------
## インフラ環境変数
#--------------------------

###

#--------------------------
## アプリケーション環境変数
#--------------------------

###
